# Visual Studio 2019 directory
.vs/

# .NET build folders
[B|b]in/
[O|o]bj/

# Versions of code including prints
print_versions/

# Exclude input files
input*.txt
example*.txt
short_example*.txt

**.user

launchSettings.json